<h5>Nam aliquam pretium</h5>
<ul>
	<li>Nam aliquam pretium</li>
	<li>Nam aliquam pretium</li>
	<li>Nam aliquam pretium</li>
</ul>
<h5>Atfgugg hfd?</h5>
<p>ermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium</p>
<div class="img">
	<% if(artwork.length>0){%>
		<% for(var i=0; i<artwork.length;i++){%>
			<img src="/img/<%= artwork[i] %>" alt="Artwork <%= i %>"/>
	<%}%>
	<%}%>
	<!--<img src="img/lan0.jpg" />
	<img src="img/lan.16.jpg" />
	<img src="img/lan11.jpg" />
	<img src="img/lan12.jpg" />
	<img src="img/lan12.jpg" />
	<img src="img/lan13.jpg" />
	<img src="img/lan14.jpg" />
	<img src="img/lan15.jpg" />
	<img src="img/lan15.jpg" />
	<img src="img/lan16.jpg" />
	<img src="img/lan17.jpg" />
	<img src="img/lan18.jpg" />
	<img src="img/lan6.jpg" />
	<img src="img/lan4.jpg" />
	<img src="img/lan7.jpg" />
	<img src="img/lan5.jpg" />-->
</div>