<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<div class="banner">
			<img src="img/banner.jpg"/>
		</div>
		<div class="header">
			<div class="left">
				Roux Meelups
			</div>
			<ul class="last">
				<li><a href="主页.html">Horre</a></li>
				<li>
					<ul id="li"><a href="分析.html">dfhg</a>
						<!--<div></div>
						<div><a href="详情.html">wtwter</a></div>
						<div><a href="">yeutrdt</a></div>-->
					</ul>
				</li>
				<li><a href="index.ejs">Heedback</a>	</li>
					
			
				<li><a href="##">Chal</a></li>
			</ul>
		</div>
		
		<div class="unm">
			<div class="left1">
				<div class="img1">
					<img src="img/lan.jpg"/>
				</div>
				<p>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.</p>
	   			 <p>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat condimentum mauris sem.</p>
	   			 
			</div>
			<div class="right">
				<h5>Nam aliquam pretium</h5>
				<ul>
	   				<li>Nam aliquam pretium</li>
	   				<li>Nam aliquam pretium</li>
	   				<li>Nam aliquam pretium</li>
	   			</ul>
	   			<h5>Atfgugg hfd?</h5>
	   			<p>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium</p>
	   			<div class="img">
	   				<img src="img/lan0.jpg"/>
	   				<img src="img/lan.16.jpg"/>
	   				<img src="img/lan11.jpg"/>
	   				<img src="img/lan12.jpg"/>
	   				<img src="img/lan12.jpg"/>
	   				
	   			</div>
			</div>
		</div>
		<!--<script type="text/javascript">
			var div=document.querySelectorAll("li div")
			li.onclick=function(){
				div.style.marginTop=10+'px';
			}
//			console.log(div)
		</script>-->
	</body>
</html>
