<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="全部.css"/>
	</head>
	<body>
		<div class="banner">
			<img src="img/banner.jpg"/>
		</div>
		<div class="header">
			<div class="left">
				Roux Meelups
			</div>
			<ul class="last">
				<li><a href="主页.html">Horre</a></li>
				<li>
					<ul id="li"><a href="分析.html">dfhg</a>
						<!--<div></div>
						<div><a href="详情.html">wtwter</a></div>
						<div><a href="">yeutrdt</a></div>-->
					</ul>
				</li>
				<li><a href="index.ejs">Heedback</a>	</li>
					
			
				<li><a href="##">Chal</a></li>
			</ul>
		</div>
		<!--<div class="con">
			<dl>
				<dt>
					<h5>Aed li dgf dhb</h5>
					<p>gds fgs zhf gsjfkf</p>
				</dt>
				<dd><img src="img/lan.jpg"/></dd>
			</dl>
			<dl>
				<dt>
					<h5>Aed li dgf dhb</h5>
					<p>gds fgs zhf gsjfkf</p>
				</dt>
				<dd><img src="img/lan.jpg"/></dd>
			</dl>
			<dl>
				<dt>
					<h5>Aed li dgf dhb</h5>
					<p>gds fgs zhf gsjfkf</p>
				</dt>
				<dd><img src="img/lan.jpg"/></dd>
			</dl>
		</div>-->
		<div class="unm">
			<div class="left1">
				<h5>Atfgugg hfd?</h5>
				<p class="p">ermentum tortor</p>
	   			   <dl>
	   			   	<dt><img src="img/lan.jpg"/></dt>
	   			   	<dd>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat </dd>
	   			   </dl>
	   			 <h5>Atfgugg hfd?</h5>
				<p class="p">ermentum tortor</p>
	   			   <dl>
	   			   	<dt><img src="img/lan.jpg"/></dt>
	   			   	<dd>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat </dd>
	   			   </dl>
	   			<h5>Atfgugg hfd?</h5>
				<p class="p">ermentum tortor</p>
	   			   <dl>
	   			   	<dt><img src="img/lan.jpg"/></dt>
	   			   	<dd>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium
	   			 duis sem feugiat </dd>
	   			   </dl>
			</div>
			<div class="right">
	   			<h5>Atfgugg hfd?</h5>
	   			<p>ermentum tortor non enim aliquet mauris del 
	   			condimentum. Nam aliquam pretium</p>
	   			<div class="img">
	   				<img src="img/lan0.jpg"/>
	   				<img src="img/lan.16.jpg"/>
	   				<img src="img/lan11.jpg"/>
	   				<img src="img/lan12.jpg"/>
	   				<img src="img/lan12.jpg"/>
	   				<img src="img/lan13.jpg"/>
	   				<img src="img/lan14.jpg"/>
	   				<img src="img/lan15.jpg"/>
	   				<img src="img/lan15.jpg"/>
	   				<img src="img/lan16.jpg"/>
	   				<img src="img/lan17.jpg"/>
	   				<img src="img/lan18.jpg"/>
	   				<img src="img/lan6.jpg"/>
	   				<img src="img/lan4.jpg"/>
	   				<img src="img/lan7.jpg"/>
	   				<img src="img/lan5.jpg"/>
	   			</div>
			</div>
		</div>
		<!--<script type="text/javascript">
			var div=document.querySelectorAll("li div")
			li.onclick=function(){
				div.style.marginTop=10+'px';
			}
//			console.log(div)
		</script>-->
	</body>
</html>
